# Ambiente virtual
myenv/
env/
venv/
.venv/

# Cache do Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Logs
*.log

# Configurações de IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Arquivos do sistema operacional
.DS_Store
Thumbs.db
ehthumbs.db
desktop.ini

# Arquivos temporários e de backup
*.bak
*.swp
*.tmp

# Arquivos de build/distribuição
build/
dist/
*.egg-info/

# Arquivos de legendas e vídeos gerados
*.srt
*.mp4

# Diretório do Gradio (configurações temporárias)
.gradio/
